body {
	background: #eee;
	margin: 0;
	text-align: center;
}

h1, h2 {
	text-align: center;
	width: 25%;
	font-family: "Lucida Console", sans-serif;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 3em;
}

h1, h2, #phone_place {
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	vertical-align: middle;
}

/* ------------ PHONE ------------ */

.phone {
	background: url("data/phone.png") top center;
	margin: auto;
	width: 300px;
	padding: 5px;
	height: 700px;
	text-align: left;
}

/* rewrite the class to have a bigger phone */
#big_phone {
	background: url("data/bigphone.png") top center;
	width: 600px;
	height: 1400px;
}

#screen {
	background: #aaa;
	margin: 119px 63px 0;
}

/* rewrite to have a bigger phone */
#big_phone #screen {
	margin: 241px 123px 0;
}

#screen p {
	margin: 0;
	padding: 0;
}

#screen input, #screen textarea {
	background: #aaa;
}

#screen input {
	height: 20px;
	vertical-align: top;
}

/* rewrite to have a bigger phone */
#big_phone #screen input {
	height: 50px;
}

.phone_menu {
	border-top: 1px solid #555;
	text-align: center;
}

.phone_category {
	border-bottom: 1px solid #555;
	text-align: center;
}

.phone_menu input {
	width: 48%;
	border: none;
	margin: 0;
	padding: 0;
}

.screen_text {
	height: 173px;
	width: 100%;
	overflow: auto;
	margin: 0;
	padding: 0;
}

/* rewrite to have a bigger phone */
#big_phone .screen_text {
	height: 358px;
}

#code, #response {
	text-transform: uppercase;
	font-size: 1.5em;
	font-family: "courier new";
	margin: 0;
	padding: 0;
	border: none;
}

/* rewrite to have a bigger phone */
#big_phone #code, #big_phone #response {
	font-size: 3em;
}
	
	/* -------- REQUEST -------- */
	
	#request_form {
		
	}
	
	/* -------- RESPONSE -------- */
	
	#response_form {
		
	}

/* ------------ OTHER ------------ */